<nav>
    <div class="site-title">
      <a href="/"><h3>study the world</h3></a>
      <p>site for study</p>
    </div>
    <ul>
      <li><a href="/">books</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New topic</a></li>
    </ul>
  </nav>